%th= report_template.campaign_totals[:impressions]
%th= report_template.campaign_totals[:clicks]
%th= report_template.campaign_totals[:ctr]
%th= report_template.campaign_totals[:conversions]
%th= report_template.campaign_totals[:ecpm]
%th= report_template.campaign_totals[:ecpc]
%th= report_template.campaign_totals[:ecpa]
%th= report_template.campaign_totals[:total_campaign_cost]
