<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <!-- TODO: Create pdf.scss -->
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- TODO: Create pdf.js -->
    <%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= wicked_pdf_javascript_include_tag "chartkick" %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
